# =========================
# Node modules
# =========================
node_modules/

# =========================
# Environment files
# =========================
.env
.env.*
!.env.example

# =========================
# Logs
# =========================
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# =========================
# Build folders
# =========================
dist/
build/
coverage/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# Docker
# =========================
docker-data/
mongo-data/
redis-data/

# =========================
# Temporary files
# =========================
tmp/
temp/

# =========================
# Cache
# =========================
.cache/

# =========================
# Parcel / Vite
# =========================
.parcel-cache/
.vite/

# =========================
# Next / Nuxt
# =========================
.next/
.nuxt/

# =========================
# Test
# =========================
coverage/
